.container {
    text-align: center;
}

.form {
    margin: auto;
    max-width: 500px;
}

.formGroup {
    margin-bottom: 15px;
}

.formGroup label {
    display: block;
    margin-bottom: 5px;
    text-align: start;
}

.formGroup input,
.formGroup textarea {
    width: 100%;
    padding: 8px;
}